* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
 }
 
 .background_image 
 {
    background-image: url(Archivos/HeadFoot.jpg);
    max-height: 200px;  
    padding-bottom: 125px;  
} 

.footer p 
{
    color:aliceblue;
    text-align: center;

}

#iconos 
{
    font-size: 20px;
    padding: 0px 8px;
    color:aliceblue;
    gap: 40px;

}